.cell{
    width: 150px;
    height: 150px;
    border: 4px solid;
    box-shadow: 0 0 0 1px;
    line-height: 150px;
    font-size: 100px;
    cursor: pointer;
    color: rgb(255, 170, 0);
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    text-shadow:
    0 0 7px rgb(255, 111, 34),
    0 0 10px rgb(255, 147, 7),
    0 0 21px rgb(255, 85, 0),
    0 0 30px rgb(255, 147, 7),
    0 0 75px rgb(255, 147, 7),
    0 0 80px rgb(255, 147, 7),
    0 0 102px rgb(255, 147, 7),
    0 0 130px rgb(255, 147, 7);
}

.cell:hover{
    color: rgb(0, 179, 255);
    text-shadow:
    0 0 7px rgb(0, 137, 195),
    0 0 10px rgb(0, 179, 255),
    0 0 21px rgb(0, 106, 255),
    0 0 30px rgb(0, 179, 255),
    0 0 75px rgb(0, 179, 255),
    0 0 80px rgb(0, 179, 255),
    0 0 102px rgb(0, 179, 255),
    0 0 130px rgb(0, 179, 255);
}

.gameContainer{
    font-family: "Lucida Handwriting", "Lucida Handwriting";
    text-align: center;
    font-size: 30px;
    color: rgb(0, 179, 255);
}
.cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
    margin: auto;
    gap: 10px;
    border-radius: 100px;
}

html {
    background: url(/img/cafe.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow:
    0 0 7px rgba(0, 137, 195, 0.454),
    0 0 10px rgb(0, 179, 255 , 0.454),
    0 0 21px rgb(0, 106, 255 , 0.454),
    0 0 30px rgb(0, 179, 255 , 0.454),
    0 0 40px rgb(0, 179, 255 , 0.454),
    0 0 40px rgb(0, 179, 255 , 0.454),
    0 0 40px rgb(0, 179, 255 , 0.454),
    0 0 40px rgb(0, 179, 255 , 0.454);
}

.restartBtn{
    color: rgb(0, 179, 255);
    background-color :rgba(0, 0, 0, 0.374) ;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    font-size: 1.5rem;
    font-family: "Lucida Handwriting", "Lucida Handwriting" ;
   
}
